

body {
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    font-family:helvetica;

    -ms-overflow-style: none;
  	scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
	text-decoration:none;
	color:#191919;
}

a:hover {
	text-decoration:none;
	color:white;
}

.white {
	text-decoration:underline;
	color:white;
}

::selection {
	color:white;
	background-color:#191919;
}


/* fonts */

h1 {
	font-size:82px;
	letter-spacing:-6px;

	font-family: 'Work Sans', sans-serif;
}

h2 {
	font-size:36px;
	letter-spacing:-3px;

	font-family: 'Work Sans', sans-serif;
}

h3 {
	font-size:32px;
	letter-spacing:-1.2px;

	font-family: 'Source Serif Pro', serif;
}

h4 {
	font-size:64px;
	letter-spacing:-3.5px;

	font-family: 'Source Serif Pro', serif;
}

p {
	font-size:18px;
	letter-spacing:-0.5px;

	font-family: 'Source Serif Pro', serif;
}

.italic {
	font-style: italic;
}


/* landing page */


.landing {
	display:flex;
	flex-wrap:wrap;

	width:100vw;
	height:100vh;

	background-color:black;
}

.title {
	width:66.67%;
	padding:10px;

	color:white;

	align-self: flex-end;
}

.des {
	width:33.33%;
}

.container {
	width:100%;
	height:50%;

	padding:10px;
}

.nav {
	display: flex;
  	flex-wrap: nowrap;
  	overflow-x: auto;

	height:550px;
	width:100vw;

	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.nav::-webkit-scrollbar {
  display: none;
}

.column {
	width:33.33%;
	height:100%;

	flex: 0 0 auto;

	padding:10px;
	padding-top:20px;
	padding-bottom:20px;

	display:flex;
	flex-wrap:wrap;
}

.red {
	background-color:#DC1E25;
}

.green {
	background-color:#A3D53C;
}

.yellow {
	background-color:#FCC94E;
}

.blue {
	background-color:#3C77FB;
}

.caption {
}

.btn {
	border:1px #191919 solid;
	border-radius:12px;
	padding-left:8px;
	padding-right:8px;

	cursor:pointer;
	display:inline-block;
	align-self: flex-end;

	transition:0.2s;
}

.btn:hover {
	background-color:#191919;
	color:white;

	transition:0.2s;
}


/* header */

.header {
	position:fixed;
	right:20px;
	top:20px;

	z-index:10;
}

.scroller {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 2px;

  background:white;
}


.progress-bar {
  height: 2px;
  background: #191919;
  width: 0%;
}

/* footer */


.footer {
	background-color:black;
	display:flex;
	flex-wrap:wrap;
	letter-spacing:-0.5px;

	font-family: 'Work Sans', sans-serif;
	color:white;
}

.f-col {
	width:33.33%;

	padding:10px;
}

.bg {
}

.black {
	background-color:#191919;
	color:white;
}


/* images */

.hero {
	padding-bottom:40px;
}

.img4of4 {
	width:100%;
	height:100%;
	object-fit:cover;

	mix-blend-mode: difference;
    filter: grayscale(1);
}

.img3of4 {
	width:75%;
	height:100%;
	object-fit:cover;

	mix-blend-mode: difference;
    filter: grayscale(1);
}

.img2of4 {
	width:50%;
	height:100%;
	object-fit:cover;
	padding-bottom:40px;

	mix-blend-mode: difference;
    filter: grayscale(1);
}

.img1of4 {
	width:25%;
	height:100%;
	object-fit:cover;

	mix-blend-mode: difference;
    filter: grayscale(1);
}


/* text */

.box {
	display:flex;
	flex-wrap:wrap;
}

.story {
	padding:20px;
}

.w1of4 {
	width:25%;
}

.w2of4 {
	width:50%;
}

.w3of4 {
	width:75%;
}


/* utlity classes */

.upper {
	text-transform:uppercase;
}

.center {
	width:50%;
	margin:auto;
	text-align:justify;
}

.tca {
	text-align:center;
}

.ind {
	text-indent:25%;
}

.right {
	text-align:right;
}

.pa {
	position:absolute;
	z-index:5;
}

.aic {
	align-self:center;
}

.vis-no {
	visibility:hidden;
}

.finv {
	filter:invert(1);
}

.border {
	border-top:1px solid #191919;
	border-bottom:1px solid #191919;
}

.width75 {
	width:75%;
}



@media (max-width:900px) {

	h3 {
    font-size: 30px;
    letter-spacing: -1.3px;
    font-family: 'Source Serif Pro', serif;
	}

	h4 {
    font-size: 46px;
    letter-spacing: -3.2px;
    font-family: 'Source Serif Pro', serif;
	}

	.story {
		padding:10px;
	}

	.center {
    width: 75%;
    margin: auto;
    text-align: justify;
	}





}

@media (max-width:600px) {

	h1 {
    font-size: 60px;
    letter-spacing: -4px;
    font-family: 'Work Sans', sans-serif;
    line-height:50px;
	}

	h2 {
    font-size: 30px;
    letter-spacing: -2px;
    font-family: 'Work Sans', sans-serif;
	}

	h3 {
    font-size: 20px;
    letter-spacing: -1px;
    font-family: 'Source Serif Pro', serif;
	}

	h4 {
    font-size: 36px;
    letter-spacing: -3px;
    font-family: 'Source Serif Pro', serif;
	}

	p {
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: 'Source Serif Pro', serif;
	}

	.landing {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: black;
	}

	.title {
    display:flex;
    width: 100%;
    height:50%;
    padding: 5px;
    color: white;
    align-items:flex-end;
	}

	.des {
    width: 100%;
    height:50%;
	}

	.nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 50vh;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
	}

	.column {
    width: 50%;
    height: 100%;
    flex: 0 0 auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
	}

	.footer {
    background-color: black;
    display: inherit;
    flex-wrap: inherit;
    letter-spacing: -0.5px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding:5px;
    font-size:10px;
	}

	.hero {
    padding-bottom: 20px;
	}

	.w1of4 {
    width: 50%;
	}

	.w2of4 {
    width: 100%;
	}

	.w3of4 {
    width: 100%;
	}

	.center {
    width: 75%;
    margin: auto;
    text-align: justify;
	}

	.right {
    text-align: justify;
	}

	.aic {
    align-self: center;
    padding-top: 20px;
	}

	.pa {
    position: inherit;
    z-index: 5;
	}

	.tca {
		text-align:center;
	}
}

