a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

:root {
  --richblack: #111111;
  --grey: #5f5f5f;
  --offwhite: #f7f7f7;
  --red: #e03a3a;
  --mobile-pad40: 40px;
  --main-pad: 20px;
  --small-pad: 10px;
  --vsmall-pad: 5px;
  --title-size: 3.25rem;
  --copy-titles: 0.8rem;
  --copy-size: 1.375rem;
  --gistext: 0.625rem;
  --small-copy: 0.6rem;
}

@font-face {
  font-family: "HappyTimesRegular";
  src: url("../assets/fonts/otf/happy-times-NG_regular_master.otf") format("otf"), url("../assets/fonts/webfonts/happy-times-NG_regular_master_web.woff") format("woff"), url("../assets/fonts/webfonts/happy-times-NG_regular_master_web.ttf") format("truetype"), url("../assets/fonts/webfonts/happy-times-NG_regular_master_web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasRoman";
  src: url("../assets/fonts/otf/NeueHaasGrotText-55Roman.otf") format("otf"), url("../assets/fonts/webfonts/NeueHaasDisplay-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border-color: #e2e8f0;
  overflow-wrap: break-word;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  text-decoration: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
*
* Testing
*
**/
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--offwhite);
  font-family: "NeueHaasRoman";
  height: 100%;
  overflow: hidden;
}

/*

* {
  cursor: url("../assets/cursor.svg") 10 10, auto;
}

*/

::-moz-selection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::selection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9995;
  pointer-events: none;
}

@media (max-width: 1000px) {
  canvas {
    z-index: -9999;
    display: none;
  }
}


.feature {
  color:#082ed0;
}




.wrapper {
  overflow-x: hidden;
  padding: var(--main-pad);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  max-width: 100vw;
  position: relative;
  font-family: inherit;
}

@media (max-width: 1000px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fish-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 50%;
  pointer-events: none;
  z-index: 900;
}

.fish-wrapper__img {
  width: 100%;
  max-height: 530px;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .fish-wrapper__img {
    height: 210px;
    width: auto;
  }
}

@media (max-width: 1000px) {
  .fish-wrapper {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: none;
    -webkit-transform: none;
            transform: none;
    top: none;
  }
}

.fish__container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  padding: var(--main-pad);
}

@media (max-width: 1000px) {
  .fish__container {
    margin: 0;
    margin-bottom: var(--mobile-pad40);
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: var(--small-pad);
    width: 100%;
  }
}

.fish__desc {
  text-transform: uppercase;
  font-size: var(--copy-titles);
  font-family: "HappyTimesRegular";
  margin-bottom: var(--small-pad);
}

@media (max-width: 1000px) {
  .fish__desc {
    width: 50vw;
  }
}

.fish__img {
  display: block;
}

@media (max-width: 1000px) {
  .fish__img {
    display: none;
  }
}

.fish__img--mobile {
  display: none;
}

@media (max-width: 1000px) {
  .fish__img--mobile {
    display: block;
  }
}

.left {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .left__title-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: var(--main-pad);
    background-color: var(--offwhite);
    z-index: 999;
    margin-bottom: 0;
    border-bottom: 1px solid var(--richblack);
  }
}

.left__title {
  font-size: var(--title-size);
  padding: var(--smal-pad);
}

@media (max-width: 1000px) {
  .left__title {
    font-size: var(--copy-size);
  }
}

.left__occu {
  font-size: var(--copy-titles);
  text-transform: uppercase;
  margin-left: var(--small-pad);
  margin-bottom: var(--small-pad);
  font-family: "HappyTimesRegular";
}

@media (max-width: 1000px) {
  .left__occu {
    display: none;
  }
}

.left__menu {
  display: none;
  z-index: 999;
}

@media (max-width: 1000px) {
  .left__menu {
    display: block;
  }
}

.left__line {
  width: 25px;
  height: 2px;
  margin: 6px;
  background-color: var(--richblack);
}

.left__menu-x {
  display: none;
  height: 30px;
  width: 37px;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  font-family: "NeueHaasRoman";
}

@media (max-width: 1000px) {
  .left__menu-x {
    display: none;
  }
}

.left__close-menu {
  display: none;
}

@media (max-width: 1000px) {
  .left__close-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.left__project-slider {
  width: 50vw;
  height: 100%;
  position: fixed;
  background: var(--offwhite);
  border-left: 1px solid var(--richblack);
  -webkit-box-shadow: 10px 0px 10px var(--grey);
          box-shadow: 10px 0px 10px var(--grey);
  top: 0;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.left__project-slider::-webkit-scrollbar {
  display: none;
}

.left__close-slider {
  width: 50vw;
  height: 100%;
  position: fixed;
  background: var(--offwhite);
  border-left: 1px solid var(--richblack);
  -webkit-box-shadow: 10px 0px 10px var(--grey);
          box-shadow: 10px 0px 10px var(--grey);
  top: 0;
  right: -50vw;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.left__open-slider {
  width: 50vw;
  height: 100%;
  position: fixed;
  background: var(--offwhite);
  border-left: 1px solid var(--richblack);
  -webkit-box-shadow: 10px 0px 10px var(--grey);
          box-shadow: 10px 0px 10px var(--grey);
  top: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.left__slider-header {
  display: inline-block;
  height: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px;
  font-size: var(--copy-titles);
  border-right: 1px solid var(--richblack);
}

.left__slider-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  border-top: 1px solid var(--richblack);
  padding: var(--main-pad);
  font-family: "HappyTimesRegular";
  font-size: var(--copy-titles);
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .left__slider-titles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left__slider-title {
  width: 100%;
}

.left__slider-title em {
  font-size: var(--copy-size);
  text-transform: initial;
  font-family: "NeueHaasRoman";
}

@media (max-width: 1000px) {
  .left__slider-title {
    padding-bottom: var(--main-pad);
  }
}

.left__slider-gist {
  width: 100%;
  margin-right: var(--small-pad);
}

.left__slider-gist-item {
  border-bottom: 1px solid var(--richblack);
  font-size: var(--gistext);
}

.left__slider-gist-item--active {
  text-transform: initial;
  font-family: "NeueHaasRoman";
  padding-top: var(--vsmall-pad);
}

.left__slider-external {
  width: 100%;
}

.left__slider-external-item {
  border-bottom: 1px solid var(--richblack);
  font-size: var(--gistext);
}

.left__slider-external-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--richblack);
  padding-top: var(--vsmall-pad);
  padding-bottom: var(--vsmall-pad);
  text-transform: initial;
  font-family: "NeueHaasRoman";
}

@media (min-width: 1001px) {
  .left__slider-external-tech:hover .left__circle {
    display: block;
    opacity: 1;
  }
  .left__slider-external-tech:focus .left__circle {
    display: block;
    background-color: var(--red);
    opacity: 1;
  }
}

.left__mobile-wrapper {
  display: contents;
}

@media (max-width: 1000px) {
  .left__mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.left__slider-info {
  width: 66%;
  float: right;
  text-align: left;
  margin-left: auto;
  padding-right: var(--main-pad);
  font-size: var(--copy-titles);
}

@media (max-width: 1000px) {
  .left__slider-info {
    width: 100%;
    padding-left: var(--main-pad);
  }
}

.left__slider-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.left__slider-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.left__slider-img-container img {
  width: 100%;
  height: auto;
  padding-bottom: 0;
}

.left__projects {
  width: 75%;
  height: auto;
}

@media (max-width: 1000px) {
  .left__projects {
    width: 100%;
    margin-top: 70px;
    margin-bottom: var(--mobile-pad40);
  }
}

.left__project-list {
  width: 100%;
  font-size: var(--copy-size);
  list-style: none;
}

.left__project-item {
  border-bottom: 1px solid var(--richblack);
  padding-top: var(--vsmall-pad);
  padding-bottom: var(--vsmall-pad);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.left__project-item--active {
  text-transform: uppercase;
  font-size: var(--copy-titles);
  font-family: "HappyTimesRegular";
}

@media (min-width: 1001px) {
  .left__project-item:hover .left__circle {
    display: block;
    opacity: 1;
  }
  .left__project-item:focus {
    color: var(--red);
    border-bottom: 1px solid var(--red);
  }
  .left__project-item:focus .left__circle {
    display: block;
    background-color: var(--red);
    opacity: 1;
  }
}

.left__circle {
  width: var(--copy-size);
  height: var(--copy-size);
  background: black;
  border-radius: 50%;
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  margin-right: var(--vsmall-pad);
}

.left__circle--active {
  width: var(--copy-titles);
  height: var(--copy-titles);
}

.right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.right__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  height: auto;
  margin-bottom: var(--main-pad);
}

@media (max-width: 1000px) {
  .right__contact {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--offwhite);
    border-bottom: 1px solid var(--richblack);
    margin-bottom: 0;
    padding: var(--main-pad);
    -webkit-box-shadow: 0px 5px 5px var(--grey);
            box-shadow: 0px 5px 5px var(--grey);
    z-index: 999;
  }
}

.right__contact-container {
  text-decoration: none;
  list-style: none;
  width: 100%;
  list-style: none;
}

@media (max-width: 1000px) {
  .right__contact-container:first-child {
    border-top: 1px solid var(--richblack);
  }
}

.right__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--richblack);
  font-size: var(--copy-titles);
  padding-bottom: var(--vsmall-pad);
  padding-top: var(--vsmall-pad);
  margin-right: var(--small-pad);
}

@media (max-width: 1000px) {
  .right__contact-item {
    margin-right: 0;
    font-size: var(--copy-titles);
  }
}

.right__contact-item--active {
  border-top: 1px solid var(--richblack);
}

@media (max-width: 1000px) {
  .right__contact-item--active {
    border-top: none;
  }
}

@media (min-width: 1001px) {
  .right__contact-item:hover .left__circle {
    display: block;
    opacity: 1;
  }
  .right__project-item:focus {
    color: var(--red);
    border-bottom: 1px solid var(--red);
  }
  .right__project-item:focus .left__circle {
    display: block;
    background-color: var(--red);
    opacity: 1;
  }
}

.right__publishing {
  width: 75%;
  height: auto;
}

@media (max-width: 1000px) {
  .right__publishing {
    width: 100%;
    margin-bottom: var(--mobile-pad40);
  }
}

.right__pub-list {
  width: 100%;
  font-size: var(--copy-size);
  list-style: none;
}

.right__pub-item {
  border-bottom: 1px solid var(--richblack);
  padding-top: var(--vsmall-pad);
  padding-bottom: var(--vsmall-pad);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right__pub-item--active {
  text-transform: uppercase;
  font-size: var(--copy-titles);
  font-family: "HappyTimesRegular";
}

@media (min-width: 1001px) {
  .right__pub-item:hover .left__circle {
    display: inline-block;
    opacity: 1;
  }
}

.right__misc {
  width: 75%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .right__misc {
    position: relative;
    width: 100%;
    margin-top: var(--main-pad);
  }
}

.right__misc-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right__misc-container--update {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right__indiv-misc-container {
  width: 100%;
  height: auto;
  text-decoration: none;
  list-style: none;
  font-size: var(--copy-size);
  list-style: none;
  margin-bottom: var(--main-pad);
}

.right__misc-item--active {
  text-transform: uppercase;
  font-size: var(--copy-titles);
  font-family: "HappyTimesRegular";
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */