body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 100px;
	text-align:right;
	letter-spacing:-6px;
	color:#191919;
}


.object {
	background-color:white;
	border-bottom:2px #191919 solid;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
}


.place {
	background-color:white;
	border-bottom:2px #191919 solid;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
}


.name {
	background-color:white;
	border-bottom:2px #191919 solid;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
}

.date {
	color:white;
	font-size:50px;
	background-color:#191919;
	border-bottom:2px white solid;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	letter-spacing:-3px;
}


.title {
	color:white;
	font-size:50px;
	background-color:#191919;
	border-bottom:2px white solid;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	letter-spacing:-3px;
}


.mada {
	color:white;
	font-size:50px;
	background-color:#191919;
	letter-spacing:-3px;
	border-bottom:2px white solid;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
}


.word1 {
	font-family:times;
	font-style:italic;
}


.word2 {
	font-family:times;
	font-style:italic;
}


.word3 {
	font-family:times;
	font-style:italic;
}