

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 100px;
	text-align: center;
	letter-spacing:-5px;
	animation: bg 2s infinite alternate;
}

@keyframes bg {
	0% {
		background-color:white;
		color:#191919;
	}
	100% {
		background-color:#191919;
		color:white;
	}
}

.copy {
	padding-top:35vh;
	padding-bottom:65vh;
	font-size:60px;
	letter-spacing:-4px;
	height:100vh;
}

.s1 {
	transform:skew(20deg);
}

.s2 {
	transform:skew(-20deg);
}

.s3 {
	transform:skew(20deg);
}


.word1 {
	animation: object 0.3s infinite;
	padding:5px;
	font-family:times;
	font-style:italic;
	color:white;
	display:inline-block;
	vertical-align:middle;
	transform:skew(-20deg);
}

@keyframes object {
	0% {
		background-color:orangered;
	}
	50% {
		background-color:blue;
	}
	100% {
		background-color:yellow;
	}

}

.word2 {
	animation: place 0.3s infinite;
	padding-left:10px;
	padding-right:10px;
	font-family:times;
	font-style:italic;
	color:white;
	display:inline-block;
	vertical-align:middle;
	transform:skew(20deg);
	padding:10px;
}

@keyframes place {
	0% {
		background-color:blue;
	}
	50% {
		background-color:orangered;
	}
	100% {
		background-color:yellow;
	}
}


.word3 {
	animation: name 0.3s infinite;
	padding-left:10px;
	padding-right:10px;
	font-family:times;
	font-style:italic;
	color:white;
	display:inline-block;
	vertical-align:middle;
	transform:skew(-20deg);
	padding:10px;
}

@keyframes name {
	0% {
		background-color:yellow;
	}
	50% {
		background-color:blue;
	}
	100% {
		background-color:orangered;
	}
}


.date {
	font-size:30px;
	letter-spacing:-1px;
	line-height:10px;
}

.night {
	font-size:100;
	color:white;
	background-color:lime;
	position:relative;
	margin:auto;
	width:400px;
	padding-top:10px;
	padding-bottom:10px;
	transform-origin:center;
	transform:rotate(30deg);
	bottom:350px;
	left:400px;
}

.book {
	font-size:100;
	color:white;
	background-color:magenta;
	position:relative;
	margin:auto;
	width:300px;
	padding-top:10px;
	padding-bottom:10px;
	transform-origin:center;
	transform:rotate(-30deg);
	bottom:250px;
	right:400px;
}





