

body {
	font-family:helveticaNeue-Light;
	font-size: 120px;
	text-align: left;
	padding-top:4px;
	padding-right:4px;
	padding-left: 4px;
	letter-spacing:-5px;
	line-height:120px;
	color:#191919;
	animation: bg 4s infinite alternate;
}

@keyframes bg {
	0% {
		background-color:beige;
	}
	33% {
		background-color:azure;
	}
	66% {
		background-color:floralwhite;
	}
	100% {
		background-color:oldlace;
	}
}


.object {
	text-align:right;
	padding-left:10px;
	padding-right:10px;
	animation: rowone 1s infinite alternate;
	width:680px;
	left:800px;
	position:relative;
}

@keyframes rowone {
	0% {
		color:white;
		transform:translate(0px,0px);
	}
	100% {
		color:#191919;
		transform:translate(-40px,0px);
	}
}

.word1 {
	font-family:times;
	font-style:italic;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	animation: rowtwo 1s infinite alternate;
	width:500px;
	left:200px;
	position:relative;
}

@keyframes rowtwo {
	0% {
		color:#191919;
		transform:translate(-40px,0px);
	}
	100% {
		color:white;
		transform:translate(0px,0px);
	}
}

.place {
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	animation: rowone 1s infinite alternate;
	width:284px;
	left:600px;
	position:relative;
}

.word2 {
	font-family:times;
	font-style:italic;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	animation: rowtwo 1s infinite alternate;
	width:800px;
	left:800px;
	position:relative;
}

.name {
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	animation: rowone 1s infinite alternate;
	width:380px;
	left:300px;
	position:relative;
}

.word3 {
	font-family:times;
	font-style:italic;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	animation: rowtwo 1s infinite alternate;
	width:700px;
	left:800px;
	position:relative;
}

.info {
	font-size:40px;
	font-family:helvetica;
	font-style:normal;
	letter-spacing:-2px;
	line-height:35px;
	text-align:right;
	color:#191919;
	margin-right:10px;
	margin-top:2px;
	border-top:2px #191919 solid;
	padding-top:4px;
}



