

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 20px;
	text-align:left;
	letter-spacing:-1px;
	padding-left:5px;
	padding-right:5px;
	color:#191919;
}

a {
	color:#191919;
}

a:hover {
	animation:pulse 2s infinite alternate;
}

@keyframes pulse {
	0% {
		color:#191919;
	}
	50% {
		color:red;
	}
	100% {
		color:blue;
	}
}


.container {
	display:flex;
	flex-wrap:wrap;

}

/* column one */


.col1 {
	width:20%;
	height:100vh;
	padding-top:5px;
	padding-right:5px;
	padding-left:5px;

	border-right:1px #191919 solid;

	overflow:scroll;
}

.img {
	background-image:url(assets/vinylGSF.png);
	width:100%;
}

/* column two */

.col2 {
	width:40%;
	height:100vh;
	padding-top:5px;
	padding-right:5px;
	padding-left:5px;

	border-right:1px #191919 solid;

	overflow:scroll;
}

/* column three */

.col3 {
	width:40%;
	height:100vh;
	padding-top:5px;
	padding-right:5px;
	padding-left:5px;

	overflow:scroll;
}

