
body {

	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

	font-family: Helvetica-Neue,Arial,sans-serif;
	font-size: 32px;
	background-color:#a09999;
	color:white;
	cursor: url('assets/cursor.svg');

	-ms-overflow-style: none;
  	scrollbar-width: none;
}

::selection {
 	background-color: #f0c311; 
 	color:#262626;
}


/* typography */

a {
	color:white;
	text-decoration:none;
}

a:hover {
	color:white;
}

.g {
	color:#a09999;
}

.g:hover {
	color:#a09999;
}

.txtd {
	text-decoration:underline;
}

h1 {
	font-family: 'Fraunces', serif;
	font-style:italic;
	font-size:120px;
	letter-spacing:-4px;
}

h2 	{
	font-family: Helvetica-Neue,Arial,sans-serif;
	font-size:30px;
	line-height:28px;
	letter-spacing:-1px;
}

h3 {
	font-family: 'Fraunces', serif;
	font-style:italic;
	font-size:30px;
	line-height:28px;
	letter-spacing:-1.5px;
}

h4 {
	font-family: Helvetica-Neue,Arial,sans-serif;
	font-size:16px;
	line-height:16px;
	letter-spacing:-0.5px;
}

p {
	font-family: Helvetica-Neue,Arial,sans-serif;
	font-size:16px;
	line-height:16px;
	letter-spacing:-0.5px;
}

h5 {
	font-family: Helvetica-Neue,Arial,sans-serif;
	font-size:10px;
	line-height:12px;
	letter-spacing:-0.2px;
}

.it {
	font-family: 'Fraunces', serif;;
	font-style:italic;
}

/* elements */

.header {
	padding:15px;
	position:fixed;
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
	z-index:1;
	background-image: linear-gradient(to bottom, rgb(160, 153, 153), rgba(160, 153, 153, 0));
}

.btn {
	background-color:#a09999;
	border:white solid 1px;
	border-radius:50px;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
}

.btn:hover {
	background-color:white;
	color:#a09999;
	cursor:pointer;
}

.btn:active {
	background-color:#f0c311;
	color:#262626;
	border:1px solid #f0c311;
}

.box {
	width:100vw;
	height:100vh;
}

.intro {
	position:absolute;
	bottom:0px;
	padding:15px;
}

.keyline {
	border-bottom:2px solid white;
	padding-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
}

.pro {
	padding-left:12px;
	padding-bottom:20px;
}

.caption {
	width:100%;
	padding-top:30px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.num {
	width:100%;
}

.title {
	width:50%;
}

.des {
	width:50%;
}

/* images */

.imgr {
	display:flex;
	flex-wrap:wrap;
	width:100%;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:5px;
	object-fit:cover;
}

.rt {
	padding-left:5px;
}

.w1of4 {
	width:25%;
	object-fit:cover;
}

.w2of4 {
	width:50%;
	object-fit:cover;
}

.w3of4 {
	width:75%;
	object-fit:cover;
}

.w4of4 {
	width:100%;
	object-fit:cover;
}

/* captions */

.imgc {
	display:flex;
	flex-wrap:wrap;
	width:100%;
	padding-top:30px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:5px;
}

.des75 {
	width:75%;
	padding-top:10px;
}

.sum {
	padding-left:15px;
	padding-top:10px;
	width:25%;
}

.footer {
	display:flex;
	flex-wrap:wrap;
	padding-top:60px;
	padding-right:15px;
	padding-bottom:15px;
	width:100%;
	/* background-image: linear-gradient(to top, rgb(160, 153, 153), rgba(160, 153, 153, 0)); */
}

.fin {
	padding-bottom:120px;
}

.des25 {
	width:25%;
	padding-left:15px;
}


/* contact me */

.contact {
	position:fixed;
	width:50%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:15px;
	background-color:white;
	color:#a09999;
	z-index:2;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

/* gallery */

.gallery {
	position:fixed;
	width:50%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:15px;
	background-color:white;
	color:#a09999;
	z-index:2;
	max-height:75%;
	overflow:scroll;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.btn-white {
	background-color:white;
	border:#a09999 solid 1px;
	border-radius:50px;
	padding-left:8px;
	padding-right:8px;
}

.btn-white:hover {
	background-color:#a09999;
	color:white;
	cursor:pointer;
}

.btn-white:active {
	background-color:#f0c311;
	color:#262626;
	border:1px solid #f0c311;
}



/* utlity */

.hide {
	display:none;
}

.ind {
	text-indent:25%;
}

.con {
}


/* iphone */

@media (max-width:600px) {
h1  {
	font-size:60px;
	letter-spacing:-3px;
}

h2 	{
	font-size:24px;
	line-height:26px;
	letter-spacing:-0.8px;
}

h3 {
	font-size:24px;
	line-height:24px;
	letter-spacing:-0.8px;
}

h4 {
	font-size:12px;
	line-height:12px;
	letter-spacing:-0.5px;
}

p {
	font-size:14px;
	line-height:14px;
	letter-spacing:-0.3px;
}

h5 {
	font-size:10px;
	line-height:10px;
	letter-spacing:-0.2px;
}

.header {
	padding:10px;
}

.intro {
	padding:10px;
	bottom: env(safe-area-inset-bottom,0);
}

.keyline {
    border-bottom: 2px solid white;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pro {
	padding-bottom:10px;
}

.caption {
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    width: 100%;
    padding-bottom: 10px;
}

.des {
	width:100%;
}

.imgr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.rt {
	padding-left:2px;
}

.imgc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.des75 {
    width: 100%;
    padding-top: 0px;
}

.sum {
    padding-left: 0px;
    padding-top: 10px;
    width: 100%;
}

.fin {
	padding-bottom:0px;
}

.footer {
	padding-top:30px;
	padding-bottom:10px;
}

.des25 {
	width:50%;
	padding-left:10px;
	padding-bottom:10px;
}

.gallery {
	padding:10px;
	width:75%;
}

.btn-white {
	padding-left:4px;
	padding-right:4px;
}

.contact {
	width:75%;
	padding:10px;
}

.w1of4 {
	height:100%;
	height:180px;
}
.w2of4 {
	height:100%;
	height:180px;
}
.w3of4 {
	height:100%;
	height:180px;
}
.w4of4 {
	height:100%;
	height:180px;
}

.con {
	object-fit:contain;
	background-color:black;
	padding:10px;
}
}

