

body {
	font-family: times;
	font-size: 24px;
	color:#191919;;
	letter-spacing:-1px;
}

a {
	color:blue;
}

.header {
	padding-left:10px;

	width:100vw;
	font-size:120px;
	letter-spacing:-6px;
	border-bottom:2px solid #191919;
}

.col1 {
	padding-top:20px;
	padding-left:15px;

	display:inline-block;
	vertical-align:top;
	height:85vh;
	width:50%;
}

.col2 {
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;

	display:inline-block;
	height:85vh;
	width:49%;
	overflow:scroll;
}

.image1 {
	background:url(callenneasmith.github.io/assets/bedford.jpg); 
	height:100%;
	background-repeat:none;
}

