
body {
	font-family:helveticaneue;
	font-size:20px;
	letter-spacing:-0.6px;
	text-align:left;
	color:#191919;
}

::selection {
	color:white;
	background-color:#191919;
}

a {
}

a:clicked {
	color:#191919;
}

a:visited {
	color:#191919;
}

/* header */

.header {

	height:50px;
	width:100%;
	padding:5px;

	position:fixed;
	border-bottom:2px solid #191919;

	font-family:HelveticaNeue;
	font-size: 36px;
	letter-spacing:-1px;
}

/* body */

.container {
	display:flex;
	flex-wrap:flex;

	height:100vh;
	width:100vw;

	position:fixed;

	top:50px;
}


/* column 1 */

.col1 {
	width:25%;
	height:100%;

	border-right:2px solid #191919;

	overflow:scroll;

	padding:5px;

	word-wrap: break-word;
}

.block1 {
	margin:auto;

	background-color:white;
	color:#191919;
}

.block1:hover {
	background-color:#191919;
	color:white;

	cursor:pointer;
}

.block1:hover a {
	background-color:#191919;
	color:white;
}

.block-bold {
	font-family:helveticaneue-medium;
}

/* ano */

@keyframes hover {
	0% {
		background-color:white;
		color:white;
	}
	100% {
		background-color:#191919
		color:white;
	}
}


/* column 2 */



/* projects */

.projects {
	width:75%;
	height:94.7%;

	overflow:scroll;

	padding-bottom:5px;
}


.container {
	display:flex;
	flex-wrap:wrap;

	word-wrap:break-word;

	width:100%;
	height:100%;
}

.container-small {
	display:flex;
	flex-wrap:wrap;

	width:100%;
	height:50%;

	border-bottom:2px solid #191919;
}

.caption {
	width:25%;
	padding:5px;
}

.caption-body {
	padding-right:5px;
	word-wrap:break-word;
}


.img {
	width:75%;
	height:100%;
	padding:5px;

	object-fit:cover;
	transition:0.5s;
}

.img:hover {
	width:75%;
	height:100%;
	padding:5px;

	object-fit:cover;

	filter:invert(1);
	transition:0.5s;
}



