
body {
	font-family: HelveticaNeue-Light;
	font-size: 36px;
	text-align:left;
	letter-spacing:-1.5px;
	color:#191919;
}

a {
	color:#191919;
	text-decoration:none;
}

a:hover {
	color:#191919;
	text-decoration:none;
}

/* header */

.header {

	height:50px;
	width:100%;
	padding:5px;

	position:fixed;
	border-bottom:2px solid #191919;
}

/* body */

.container {
	display:flex;
	flex-wrap:flex;

	height:100vh;
	width:100vw;

	position:fixed;

	top:50px;
}


/* column 1 */

.col1 {
	width:33%;
	height:100vh;

	border-right:2px solid #191919;

	overflow:scroll;
}

.block1 {
	padding:5px;

	border-bottom:2px #191919 solid;
}


.block1:hover {

	background-color:#191919;
	color:white;

	border-bottom:2px #191919 solid;
}


.block1:hover a {

	background-color:#191919;
	color:white;
}


.block2 {
	padding:5px;

	border-bottom:2px #191919 solid;
}


.block3 {
	height:50px;

	border-bottom:2px #191919 solid;
}


/* column 2 */

.col2 {
	width:67%;
	height:100vh;

	overflow:scroll;
}

