

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 6vw;
	text-align:left;
	letter-spacing:-0.5vw;
	color:#191919;
	padding-top:120px;
}


/* content */

.object {
	padding-top:15px;
	padding-bottom:15px;

	position:relative;
	width:1100px;

	transform-origin:center;
	top:150px;
	right:-100px;
	transform:rotate(-15deg);
	animation: flash 1s infinite alternate;
	animation-delay:0.1s;
}

@keyframes flash {
	0% {
		opacity:100%;
	}
	100% {
		opacity:0%;
	}
}

.place {
	padding-top:15px;
	padding-bottom:15px;

	position:relative;
	width:1000px;

	transform-origin:center;
	top:160px;
	right:-650px;
	transform:rotate(15deg);
	animation: flash 1s infinite alternate;
	animation-delay:0.6s;
}

.name {
	padding-top:15px;
	padding-bottom:15px;

	position:relative;
	width:980px;

	transform-origin:center;
	top:50px;
	right:-200px;
	transform:rotate(-5deg);
	animation: flash 1s infinite alternate;
	animation-delay:0.4s;
}

/* js */

.word1 {
	font-family:times;
	font-style:italic;

	padding-left:60px;
	padding-right:60px;

	color:white;
	background-color:aquamarine;
}

.word2 {
	font-family:times;
	font-style:italic;

	padding-left:60px;
	padding-right:60px;

	color:white;
	background-color:chartreuse;
}

.word3 {
	font-family:times;
	font-style:italic;

	padding-left:60px;
	padding-right:60px;

	color:white;
	background-color:fuchsia;
}

/* info */

.date {
	padding-top:15px;
	padding-bottom:15px;

	font-family:HelveticaNeue-Light;
	position:relative;
	text-align:center;
	background-color:cornflowerblue;
	color:white;
	font-size:5vw;
	letter-spacing:-0.2vw;
	width:24vw;

	transform-origin:center;
	top:-200px;
	right:-1000px;
	transform:rotate(5deg);
	animation: flash 1s infinite alternate;
	animation-delay:0.3s;
}

.title {
	padding-top:15px;
	padding-bottom:15px;

	font-family:HelveticaNeue-Light;
	position:relative;
	text-align:center;
	background-color:red;
	color:white;
	font-size:5vw;
	letter-spacing:-0.2vw;
	width:52vw;

	transform-origin:center;
	top:-100px;
	right:-400px;
	transform:rotate(5deg);
	animation: flash 1s infinite alternate;
	animation-delay:0.1s;
}

.mada {
	padding-top:15px;
	padding-bottom:15px;

	font-family:HelveticaNeue-Light;
	position:relative;
	text-align:center;
	background-color:gold;
	color:white;
	font-size:5vw;
	letter-spacing:-0.2vw;
	width:77vw;

	transform-origin:center;
	top:-400px;
	right:-200px;
	transform:rotate(-15deg);
	animation: flash 1s infinite alternate;
	animation-delay:0.3s;
}

